<section class="library__section">
  <h1>WCMC Component Library</h1>

  <p>Until a list of components have been agreed upon for the library, components have been taken from both the UNEP WCMC website and the Post 2020 Timeline.</p>
</section>

<section class="library__section">
  <h2>Topbar</h2>
  <p>views/global/_topbar.html.erb</p>
</section>

<%= render partial: 'global/topbar.html.erb' %>

<section class="library__section">
  <h2>Primary navigation</h2>
  <%= render partial: 'global/nav-primary.html.erb' %>
</section>

<section class="library__section">
  <h2>Buttons</h2>
  <p>views/global/_buttons.html.erb</p>

  <%= render partial: 'global/buttons.html.erb' %>
</section>

<section class="library__section">
  <h2>Social</h2>
  <%= render partial: 'global/social.html.erb' %>
</section>

<section class="library__section">
  <h2>Footer</h2>
  <p>views/global/_footer.html.erb</p>
</section>

<%= render partial: 'global/footer.html.erb' %>