<p>
  views/global/_social.html.erb<br>
  helpers/application_helper.rb
</p>

<div class="library__subsection unep-wcmc">
  <h3>Social follow icons from UNEP WCMC website</h3>
  
    <%= create_social_facebook_link_unepwcmc %>
    <%= create_social_linkedin_link_unepwcmc %>
    <%= create_social_twitter_link_unepwcmc %>
    <%= create_social_youtube_link_unepwcmc %>
</div>

<div class="library__subsection post2020">
  <h3>Social sharing icons from Post 2020 timeline</h3>
  
  <div class="social">
    <%= create_social_facebook_link %>
    <%= create_social_linkedin_link %>
    <%= create_social_twitter_link %>
    <%= create_social_email_link %>
  </div>
</div>